@model List<Musteri>

<h1>Müşteri Listesi</h1>
<hr />
<a class="btn btn-primary" asp-controller="Musteri" asp-action="MusteriEkle">Yeni Müşteri Ekle</a>
<br />
<br />

<table class="table table-hover">
    <tr>
        <td>No</td>
        <td>Adı Soyadı</td>
        <td>Ünvan</td>
        <td>Kayıt Tarihi</td>
        <td>E-Fatura</td>
        <td>Şehir</td>
        <td>Toplam Borç</td>
        <td>Toplam Alacak</td>
        <td>Toplam</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.AdiSoyadi</td>
            <td>@item.Unvan</td>
            <td>@item.KayitTarihi</td>
            <td>
                @if (item.EFatura)
                {
                    <span class="badge bg-success">Evet</span>
                }
                else
                {
                    <span class="badge bg-danger">Hayır</span>
                }
            </td>
            <td>@item.Sehir</td>
            <td>@item.ToplamBorc.ToString("n2") ₺</td>
            <td>@item.ToplamAlacak.ToString("n2") ₺</td>
            @{
                double toplam = item.ToplamAlacak - item.ToplamBorc;
                string renk = "danger";
                if (toplam > 0)
                {
                    renk = "success";
                }
            }

            <td><span class="badge bg-@renk">@toplam.ToString("n2") ₺</span></td>
            <td>
                @*<a href="~/Musteri/MusteriDuzenle/@item.Id" class="btn btn-warning btn-sm">Güncelle</a>*@
                <a asp-controller="Musteri" asp-action="MusteriDuzenle" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Güncelle</a>
                <a asp-controller="Musteri" asp-action="MusteriSil" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
    }
</table>
