@model IEnumerable<Product>

@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Ürün Listesi</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Title</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                
                                <a class="btn btn-primary btn-sm" onclick="openCreateModal('Product')">Yeni Ürün Oluştur</a>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Ürün No</th>
                                            <th>Ürün Adı</th>
                                            <th>Birim Fiyatı</th>
                                            <th>KDV Oranı</th>
                                            <th>Stok Miktarı</th>
                                            <th>Resim Url</th>
                                            <th width="80px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="user-block" style="width: 30px !important; height: 30px !important;">
                                                        <img class="img-circle img-bordered-sm" src="~/images/product/@item.ImageUrl" alt="User Image" style="width: 30px !important; height: 30px !important;">
                                                    </div>
                                                </td>
                                                <td>@item.Id</td>
                                                <td>@item.ProductName</td>
                                                <td>@item.UnitePrice</td>
                                                <td>@item.VatRate</td>
                                                <td>@item.StockAmount</td>
                                                <td>@item.ImageUrl</td>
                                                <td>
                                                    <a onclick="openDeleteModal('Product', @item.Id)" class="btn btn-danger btn-sm" title="Kaydı Sil"><i class="fa fa-trash"></i></a>
                                                    <a onclick="openEditModal('Product', @item.Id)" class="btn btn-warning btn-sm" title="Kaydı Güncelle"><i class="fa fa-edit"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Footer
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<vc:modal modal-id="modalProductCreate" header-text="Ürün Oluştur" form-id="formProductCreate" button-text="Kaydet" button-class="primary" detail-div-id="divCreateModalDetail"></vc:modal>

<vc:modal modal-id="modalProductEdit" header-text="Ürün Güncelle" form-id="formProductEdit" button-text="Kaydet" button-class="primary" detail-div-id="divEditModalDetail"></vc:modal>

<vc:modal modal-id="modalProductDelete" header-text="Ürün Sil" form-id="formProductDelete" button-text="Sil" button-class="danger" detail-div-id="divDeleteModalDetail"></vc:modal>

